html, body {
  height: 100%;
  width: 100%;
  background-color: #4a4a4a;
  user-select: none;
}

.info {
    width: 400px;
    margin: auto;
    color: black;
    font-weight: bold;

}

  .board {
    width: device-width;
    margin: auto;
}

.move-history {
    max-height: 100px;
    overflow-y: scroll;
    color: black;
}
